{% extends 'projects_app/base.html' %}
{% block content %}
<nav>
    <div class="nav nav-pills mb-3" id="nav-tab" role="tablist">
        {% for project_type in project_types %}
            <a class="nav-item nav-link {% if forloop.first %}active{% endif %}" 
               id="nav-{{ project_type.project_type|slugify }}-tab" 
               data-toggle="pill" 
               href="#nav-{{ project_type.project_type|slugify }}" 
               role="tab" 
               aria-controls="nav-{{ project_type.project_type|slugify }}" 
               aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                {{ project_type.project_type }}
            </a>
        {% endfor %}
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    {% for project_type, projects in projects_by_type.items %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
             id="nav-{{ project_type|slugify }}" 
             role="tabpanel" 
             aria-labelledby="nav-{{ project_type|slugify }}-tab">
            {% if projects %}
                <div class="container-fluid">
                    <div class="row justify-content-center gx-4 gy-4">
                        {% for project in projects %}
                            <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
                                <div class="card border-secondary card-wrapper w-100">
                                    {% if project.project_photo and project.project_photo.url %}
                                        <a href="{% url 'project_html_template' title=project.title %}">
                                            <img class="card-img-top" src="{{ project.project_photo.url }}" alt="{{ project.title }}">
                                        </a>
                                    {% else %}
                                        <p class="text-muted text-center">No Image Available</p>
                                    {% endif %}
                                    <div class="card-body d-flex flex-column"> 
                                        <a href="{% url 'project_html_template' title=project.title %}">
                                            <div class="card-title text-primary text-center"> {{ project.title }} </div>
                                        </a>
                                        <hr class="hr">
                                        <small class="info">{{ project.project_type }}</small> 
                                        <hr class="hr">

                                        <small class="text-light"> Tech Stack: 
                                        <small class="info">
                                            {% for tool_instance in project.tools.all %} 
                                                {{ tool_instance.name }}{% if not forloop.last %}<small class="text-light"> • </small>  {% endif %}
                                            {% endfor %}</small> 
                                        </small>
                                        <hr class="hr">
                                        <small>
                                            {% if project.pdf_file %}
                                                <a href="{{project.pdf_file.url}}" class="text-primary"> Download File</a>
                                            {% else %}
                                                <small class="text-secondary"> No File to Download </small>
                                            {% endif %}
                                        </small>
                                        <hr class="hr">
                                        <small class="text-light"> Analyst: 
                                        <small class="info">
                                            {{ project.analyst.first_name }} {{ project.analyst.last_name }}
                                            <small class="text-light"> • </small> {{ project.published_date|date:"F, Y" }} </small> 
                                        </small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>No projects available yet...</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}