{% extends 'projects_app/base.html' %}

{% block content %}
<div class="container bg-light custom-shadow">
    <div class="row justify-content-center">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card text-dark mb-3 custom-shadow">
                <div class="card-wrapper">
                    {% if project.project_photo %}
                    <a href="{% url 'project_html_template' title=project.title %}">
                        <img class="card-img-top" src="{{ project.project_photo.url }}" alt="{{ project.title }}">
                    </a>
                    {% endif %}
                    <div class="card-body bg-info text-dark">
                        <a class="text-light" href="{% url 'project_html_template' title=project.title %}">
                            <h5>{{ project.title }}</h5>
                        </a>
                        <h5>{{ project.project_type }} Project</h5>
                        <p>
                            {% for tool_instance in project.tools.all %}
                            {{ tool_instance.name }} {% if not forloop.last %} | {% endif %}
                            <!-- Stopping | in last iteration  -->
                            {% endfor %}
                        </p>
                        <p>{{ project.description }}</p>
                        {% if project.pdf_file %}
                        <small><a href="{{ project.pdf_file.url }}" target="_blank">Open File</a> | <!-- {{ project.pdf_file.name }}-->
                        </small>
                        {% else %}
                        <small>No File | </small>
                        {% endif %}
                        <small class="article-content"> <a href="{{ project.data_source}}"> Data Source</a> | 
                            Analyzed by {{ project.analyst }} |
                            {{ project.published_date|date:"F, d, Y" }} 
                        </small>

                        <!-- <small class="article-content"><a href="{{ project.data_source }}">Data Source</a> | Analyzed by {{ project.analyst|capfirst }} 
                            | {{ project.published_date|date:"F, d, Y" }}</small> -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
