body {
  background-color: #1e1e1e; 
  font-family: 'Lato', arial, sans-serif;
  color: #aa9a9a;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.profile-pic {
  border-radius: 5px; /* This will make the image circular if it is square, or rounded if rectangular */
  box-shadow: 0 0 5px #aa9a9a;
}

.card {
  background-color: #2a2a2a;
  border-radius: 10px;
  height: 100%;
}

h3 {
  font-weight: bold;
}

[class^="col-"] {
  margin-top: 20px;
}

.container {
  text-align: center;
}

.heading {
  font-size: 33px;
  color: #aa9a9a;
  font-weight: bold;
  padding-top: 5px;
}

.icon-style i {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: medium;
}

.icon {
  font-size: 20px;
}

.icon-style a {
  font-family: 'Lato', arial, sans-serif;
  color: #aa9a9a;
  padding: 2px 5px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}

.icon-style a:hover,
.icon-style a:hover i.fa {
  color: #007bff; /* Change text color on hover */
  text-decoration: none; /* Add underline on hover */
}

.icon-style i:hover,
.icon-style a:hover i.fa {
  color: #007bff; /* Change icon color on hover */
}


.about {
  font-size: 30px;
  color: #aa9a9a;
  font-weight: bold;
  padding-top: 0px;
}
.h3 {
  font-size: 20px;
  color: #aa9a9a;
  font-weight: bold;
  padding-top: 0px;
}

.about-hr {
  border: none;
  border-top: 1px solid #aa9a9a; /* Light colored horizontal line */
  margin-top: 0px;
}

.btn {
  border-radius: 50px;
}


